
<%- include('../partials/header') %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
         <div class="container-fluid my-3">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Inventário 2020</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/">Início</a></li>
                <li class="breadcrumb-item active"><a href="/unidades/todas">Todas Unidades</a></li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
          <div class='row'>
            <div class='col-md-12 text-center my-3'>
            <h3>Unidades - Portaria P. 185/2019</h3>
            </div>
          </div>
      
        <div class="container-fluid mt-2">
          <div class="row my-4">
             <!-- /.col-md-6 -->
             <div class='col-md-3'>
              <a href="/unidades/grupos/1">
                <div class=" alert gruposUnidade text-center my-3" >
                  <div class=" text-center text-white">
                    Unidades Presidência
                  </div>
                </div>
              </a> 
             </div>
             <div class='col-md-3'>
              <a href="/unidades/grupos/2">
                <div class=" alert gruposUnidade text-center my-3" >
                  <div class=" text-center text-white">
                    Unidades Corregedoria
                  </div>
                </div>
              </a> 
             </div>
             <div class='col-md-3'>
              <a href="/unidades/grupos/3">
                <div class=" alert gruposUnidade text-center my-3" >
                  <div class=" text-center text-white">
                    Unidades Procuradoria
                  </div>
                </div>
              </a> 
             </div> 
             <div class='col-md-3'>
              <a href="/unidades/grupos/4">
                <div class=" alert gruposUnidade text-center my-3" >
                  <div class=" text-center text-white">
                    Unidades EJESC
                  </div>
                </div>
              </a> 
             </div>
             <div class='col-md-3'>
              <a href="/unidades/grupos/5">
                <div class=" alert gruposUnidade text-center my-3" >
                  <div class=" text-center text-white">
                    Unidades DG
                  </div>
                </div>
              </a> 
             </div>
             <div class='col-md-3'>
              <a href="/unidades/grupos/6">
                <div class=" alert gruposUnidade text-center my-3" >
                  <div class=" text-center text-white">
                    Unidades SAO
                  </div>
                </div>
              </a> 
             </div>
             <div class='col-md-3 '>
              <a href="/unidades/grupos/7">
                <div class="gruposUnidade alert text-center my-3" >
                  <div class=" text-center text-white">
                    Unidades SGP
                  </div>
                </div>
              </a> 
             </div>
             <div class='col-md-3'>
              <a href="/unidades/grupos/8">
                <div class=" alert gruposUnidade text-center my-3" >
                  <div class=" text-center text-white">
                    Unidades STI
                  </div>
                </div>
              </a> 
             </div>
             <div class='col-md-3'>
             </div>
             <div class='col-md-3'>
              <a href="/unidades/grupos/9">
                <div class=" alert gruposUnidade text-center my-3" >
                  <div class=" text-center text-white">
                    Unidades SJ
                  </div>
                </div>
              </a> 
             </div>
             <div class='col-md-3'>
              <a href="/unidades/grupos/10">
                <div class=" alert gruposUnidade text-center my-3" >
                  <div class=" text-center text-white">
                    Unidades ZEs
                  </div>
                </div>
              </a> 
             </div>
       
            <!-- /.col-md-6 -->
        
          <!-- /.row -->
            
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    </div>
    <!-- /.content-wrapper -->

      <!-- Control sidebar content goes here -->
    <!-- Control Sidebar 
    <aside class="control-sidebar control-sidebar-dark">
      <div class="">
        <h5>Title</h5>
        <p>Sidebar content TESTE AQUI</p>
      </div>
    </aside>
     /.control-sidebar -->

<%- include('../partials/footer') %>